<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Page Title</title>
	<link rel="stylesheet" href="/static/lib/CodeMirror/lib/codemirror.css">
	<link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h5 style="text-align: center">Alterando o mock: {{id}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<textarea name="json" style="width: 100%; height:500px">{{body}}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: center">
				<a class="btn btn-default" href="#" role="button">Dimas</a>
				<button class="btn btn-default" type="submit">Button</button>
				<input class="btn btn-default" type="button" value="Input">
				<input class="btn btn-default" type="submit" value="Submit">
			</div>
		</div>
	</div>
	
	<script src="/static/lib/jquery/dist/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/lib/CodeMirror/src/codemirror.js"></script>
	<script>
	var editor = CodeMirror.fromTextArea($('[name=json]').first(), {
		lineNumbers: true
	});
	</script>
</body>
</html>
